<!DOCTYPE html>
<html>
<head>
    <title>渲染测试</title>
</head>
<body>
    <div>.</div>
    <script>
        let y = Date.now();
        while(Date.now() <= y + 17){
            ;
        }
    </script>
    <div style="display:none;">
        <b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b>
        <b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b>
        <b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b>
        <b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b>
        <b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b>
        <b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b>
        <b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b>
        <b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b>
        <b>b</b><b>b</b>b
    </div>
    <div>第1个内容</div>
    <script>
        let x = Date.now();
        while(Date.now() <= x + 17){
            ;
        }
    </script>
    <div style="display:none;">
        <b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b>
        <b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b>
        <b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b>
        <b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b>
        <b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b>
        <b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b>
        <b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b>
        <b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b>
        <b>b</b><b>b</b>b
    </div>
    <script>
        let x1 = Date.now();
        while(Date.now() <= x1 + 2000) {
            ;
        }
    </script>
    <div>第2个内容</div>
    <script>
        let x2 = Date.now();
        while(Date.now() <= x2 + 17) {
            ;
        }
    </script>
    <div style="display:none;">
        <b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b>
        <b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b>
        <b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b>
        <b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b>
        <b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b>
        <b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b>
        <b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b>
        <b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b><b>b</b>
        <b>b</b><b>b</b>b
    </div>
    <script>
        let x3 = Date.now();
        while(Date.now() <= x3 + 2000) {
            ;
        }
    </script>
    <div>第3个内容</div>
</body>
</html>